<a href="https://colab.research.google.com/github/Mohith29/Machine-Learning-/blob/master/Data_Munging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint

## Learning Objective

At the end of this experiment, you will be able to:

* perform Data preprocessing

In [ ]:
#@title Mini Hackathon Walkthrough
from IPython.display import HTML

HTML("""<video width="320" height="240" controls>
  <source src="https://cdn.talentsprint.com/talentsprint1/archives/sc/aiml/aiml_batch_15/preview_videos/Mini_Hackathon_Data_Munging_Briefing.mp4" type="video/mp4">
</video>
""")

## Problem Statement

We will be using district wise demographics, enrollments, and teacher indicator data to predict whether the literacy rate is high/ medium/ low in each district.

### Data Preprocessing

Data preprocessing is an important step in solving every machine learning problem. Most of
the datasets used with Machine Learning problems need to be processed / cleaned / transformed
so that a Machine Learning algorithm can be trained on it.

There are different steps involved in Data Preprocessing. These steps are as follows:

    1. Data Cleaning → In this step the primary focus is on
        - Handling missing data
        - Handling noisy data
        - Detection and removal of outliers
    
    2. Data Integration → This process is used when data is gathered from various data sources
    and data are combined to form consistent data. This data after performing cleaning is used
    for analysis.
    
    3. Data Transformation → In this step we will convert the raw data into a specified format according to the need of the model we are building. There are many options used for
    transforming the data as below:
        - Normalization
        - Aggregation
        - Generalization
        
    4. Data Reduction → Following data transformation and scaling, the redundancy within the data is removed and is organized efficiently.

### Total Marks  = 20

In [ ]:
# @title Download the datasets
from IPython import get_ipython

ipython = get_ipython()
  
notebook="U1_MH1_Data_Munging" #name of the notebook

def setup():
    from IPython.display import HTML, display
    ipython.magic("sx wget https://cdn.iiith.talentsprint.com/aiml/Experiment_related_data/B15_Data_Munging.zip")
    ipython.magic("sx unzip B15_Data_Munging.zip")
    print("Data downloaded successfully")
    return

setup()

Data downloaded successfully

In [ ]:
!ls

## Exercise 1 - Load and Explore the Data (2 Marks)
1. We have three different files

  * Districtwise_Basicdata.csv
  * Districtwise_Enrollment_details_indicator.csv
  * Districtwise_Teacher_indicator.csv

  These files contain the necessary data to solve the problem. <br>

2. Load the files based on **team allocation** mentioned below. Observe the header level details, data records while loading the data.
  
  Hint : Use read_csv from pandas with [skiprows or header](https://towardsdatascience.com/import-csv-files-as-pandas-dataframe-with-skiprows-skipfooter-usecols-index-col-and-header-fbf67a2f92a) options.

3. Read the columns of the dataset and rename if required.

  Hint : Rename column names (if any) using the following [link](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html).

Team allocation for dataset selection

    Team A = 1,3,5,7,9,11,13,15 
        Districtwise_Basicdata.csv
        Districtwise_Enrollment_details_indicator.csv

    Team B = 2,4,6,8,10,12,14,16
        Districtwise_Basicdata.csv
        Districtwise_Teacher_indicator.csv

In [ ]:
# Importing all the required packages and add neccesary imports if required
import pandas as pd
import numpy as np

In [ ]:
# YOUR CODE HERE for loading and exploring the datasets

data1 = pd.read_csv('Districtwise_Basicdata.csv',header=1)
data2 = pd.read_csv('Districtwise_Teacher_indicator.csv',header=3)

In [ ]:
print(data1.head())
print(data2.head())

      Year  Statecd  ... overall_lit  female_lit
0  2012-13       35  ...        High       84.52
1  2012-13       35  ...        High       79.39
2  2012-13       35  ...        High       70.70
3  2012-13       28  ...         Low       51.99
4  2012-13       28  ...         Low       54.31

[5 rows x 19 columns]
   statecd  ... tch_nontch
0       35  ...        519
1       35  ...        362
2       35  ...         28
3       28  ...        263
4       28  ...       1185

[5 rows x 181 columns]

In [ ]:
data1.head()
data1 = data1.rename(columns={"Statecd": "State Code"})
data1 = data1.rename(columns={"distcd": "District Code"})

In [ ]:
data2 = data2.rename(columns={"ac_year": "Year"})
data2 = data2.rename(columns={"statecd": "State Code"})
data2 = data2.rename(columns={"distcd": "District Code"})

data2.head()

   State Code  ... tch_nontch
0          35  ...        519
1          35  ...        362
2          35  ...         28
3          28  ...        263
4          28  ...       1185

[5 rows x 181 columns]

## Exercise 2  - Data Integration (3 Marks)

As the required data is present in different datasets, we need to **integrate both to make a single dataframe/dataset**.
  * For integrating the datasets, create a unique identifier for each row in both the dataframes so that it can be used to map the data in different files.
   
    * Combine year, state code, district code columns and form a new unique identifier column, refer this [link](https://stackoverflow.com/questions/33098383/merge-multiple-column-values-into-one-column-in-python-pandas).
    * Set the identifier column as the index for each dataframe.

    * Integrate the dataframes using the above index
     
     Hint: For merging or joining the datasets, refer to this [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

**Example:** Data of the district Anantapur in Andrapradesh, which is present in different files should form a single row after integrating the datasets

In [ ]:
# YOUR CODE HERE for integrating the datasets

data1['info'] = data1[['Year', 'State Code', 'District Code']].apply(
    lambda x: ''.join(x.dropna().astype(str)),
    axis=1
)

      Year  State Code  ... female_lit           info
0  2012-13          35  ...      84.52  2012-13353501
1  2012-13          35  ...      79.39  2012-13353503
2  2012-13          35  ...      70.70  2012-13353502
3  2012-13          28  ...      51.99  2012-13282801
4  2012-13          28  ...      54.31  2012-13282822

[5 rows x 20 columns]

In [ ]:
data2['info'] = data2[['Year', 'State Code', 'District Code']].apply(
    lambda x: ''.join(x.dropna().astype(str)),
    axis=1
)

In [ ]:
data1 = data1.set_index('info')
data2 = data2.set_index('info')

In [ ]:
frames = [data1, data2]
result = pd.concat((frames),axis=1)

## Exercise 3 - Data Cleaning (3 Marks)

1.  **Overall_lit** is our target variable. Delete rows with missing overall_lit value

   Hint: Refer to the link [dropna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).


2.  Convert categorical values to numerical values.

  For example, If a feature contains categorical values such as dog, cat, mouse, etc then replace them with 1, 2, 3, etc or use [Sklearn LabelEncoder's](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html) 

3. Replace the missing values in any other column appropriately with mean / median / mode.

  Hint: Use pandas [fillna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) function to replace the missing values

In [ ]:
# YOUR CODE HERE for data cleaning

#result.isnull().sum()
result = result.dropna(subset=['overall_lit'])
result.shape

(1268, 200)

In [ ]:
result = result.loc[:,~result.columns.duplicated()]

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

result['statename'] = le.fit_transform(result['statename'])
result['distname'] = le.fit_transform(result['distname'])
result['overall_lit'] = le.fit_transform(result['overall_lit'])

result.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                  Year  State Code  ...  days_nontch  tch_nontch
info                                ...
2012-13353501  2012-13          35  ...           12         519
2012-13353503  2012-13          35  ...            8         362
2012-13353502  2012-13          35  ...           20          28
2012-13282801  2012-13          28  ...           13         263
2012-13282822  2012-13          28  ...           14        1185

[5 rows x 195 columns]

In [ ]:
result = result.drop(columns='Year')

In [ ]:
values = {}
for i in result.columns:
  values[i]=result[i].mean()
print(values)
result=result.fillna(value=values)

{'State Code': 17.033123028391167, 'statename': 19.644321766561514, 'District Code': 1719.4179810725552, 'distname': 317.66009463722395, 'blocks': 11.115930599369085, 'clusters': 128.6955835962145, 'villages': 912.1175078864353, 'totschools': 2207.024447949527, 'totpopulation': 1899024.1324921136, 'p_06_pop': 251190.74210110572, 'p_urb_pop': 24.819255150554696, 'sexratio': 942.6782334384858, 'sexratio_06': 918.8135860979463, 'growthrate': 17.6278864353312, 'p_sc_pop': 14.830015923566897, 'p_st_pop': 17.625031847133766, 'overall_lit': 0.944794952681388, 'female_lit': 64.61935331230288, 'tch_govt1': 3084.332807570978, 'tch_govt2': 1766.9392744479496, 'tch_govt3': 155.03864353312304, 'tch_govt4': 617.8824921135647, 'tch_govt5': 806.179022082019, 'tch_govt6': 159.47791798107255, 'tch_govt7': 420.55047318611986, 'tch_govt9': 0.5047318611987381, 'tch_pvt1': 898.6317034700315, 'tch_pvt2': 1084.2421135646687, 'tch_pvt3': 830.4266561514196, 'tch_pvt4': 201.5993690851735, 'tch_pvt5': 507.14668769716087, 'tch_pvt6': 430.16246056782336, 'tch_pvt7': 319.48501577287067, 'tch_pvt9': 0.14589905362776026, 'tch_un1': 117.14668769716089, 'tch_un2': 110.37066246056783, 'tch_un3': 27.781545741324923, 'tch_un4': 10.475552050473187, 'tch_un5': 12.908517350157728, 'tch_un6': 28.974763406940063, 'tch_un7': 8.482649842271293, 'tch_un9': 0.07334384858044164, 'tch_bs1': 94.45031545741325, 'tch_bs2': 65.45110410094637, 'tch_bs3': 12.773659305993691, 'tch_bs4': 15.611198738170348, 'tch_bs5': 6.391167192429022, 'tch_bs6': 10.980283911671924, 'tch_bs7': 4.692429022082019, 'tch_bs_p': 13.019716088328076, 'tch_s1': 535.7239747634069, 'tch_s2': 413.0378548895899, 'tch_s3': 34.86671924290221, 'tch_s4': 41.41561514195583, 'tch_s5': 50.51577287066246, 'tch_s6': 33.66403785488959, 'tch_s7': 37.2602523659306, 'tch_s_p': 52.198738170347006, 'tch_hs1': 1026.8517350157729, 'tch_hs2': 762.7768138801262, 'tch_hs3': 88.09779179810725, 'tch_hs4': 149.62460567823345, 'tch_hs5': 77.08280757097792, 'tch_hs6': 91.69085173501577, 'tch_hs7': 56.66482649842271, 'tch_hs_p': 212.16640378548897, 'tch_grad1': 1281.1529968454258, 'tch_grad2': 1054.9858044164039, 'tch_grad3': 395.2854889589905, 'tch_grad4': 312.7602523659306, 'tch_grad5': 448.3556782334385, 'tch_grad6': 287.9929022082019, 'tch_grad7': 369.3824921135647, 'tch_grad_p': 371.2381703470032, 'tch_pgrad1': 654.25, 'tch_pgrad2': 493.54337539432174, 'tch_pgrad3': 418.48107255520506, 'tch_pgrad4': 264.8320189274448, 'tch_pgrad5': 621.3832807570977, 'tch_pgrad6': 156.23659305993692, 'tch_pgrad7': 243.41167192429023, 'tch_pgrad_p': 146.69479495268138, 'tch_mph1': 23.77365930599369, 'tch_mph2': 24.107255520504733, 'tch_mph3': 26.845425867507885, 'tch_mph4': 6.284700315457413, 'tch_mph5': 59.67981072555205, 'tch_mph6': 6.865930599369086, 'tch_mph7': 8.25, 'tch_mph_p': 5.193217665615142, 'tch_pd1': 0.41719242902208203, 'tch_pd2': 0.3824921135646688, 'tch_pd3': 0.5165615141955836, 'tch_pd4': 0.16640378548895898, 'tch_pd5': 0.7649842271293376, 'tch_pd6': 0.1411671924290221, 'tch_pd7': 0.17271293375394323, 'tch_pd_p': 0.11041009463722397, 'tch_eduqual_nr1': 6.250788643533123, 'tch_eduqual_nr2': 8.709779179810726, 'tch_eduqual_nr3': 3.7602523659305995, 'tch_eduqual_nr4': 2.777602523659306, 'tch_eduqual_nr5': 3.3667192429022084, 'tch_eduqual_nr6': 1.529179810725552, 'tch_eduqual_nr7': 0.8399053627760252, 'tch_eduqual_nr_p': 0.3430599369085173, 'tch_m1': 1932.4195583596215, 'tch_m2': 1435.7578864353313, 'tch_m3': 329.6435331230284, 'tch_m4': 537.0875394321766, 'tch_m5': 748.0102523659306, 'tch_m6': 271.4597791798107, 'tch_m7': 458.05835962145113, 'tch_f1': 1681.8020504731862, 'tch_f2': 1382.2326498422713, 'tch_f3': 643.3556782334385, 'tch_f4': 250.17586750788644, 'tch_f5': 508.42981072555204, 'tch_f6': 316.02681388012616, 'tch_f7': 260.8343848580442, 'tch_nr1': 8.649053627760253, 'tch_nr2': 5.005520504731861, 'tch_nr3': 7.62776025236593, 'tch_nr4': 6.208990536277603, 'tch_nr5': 11.100157728706625, 'tch_nr6': 1.614353312302839, 'tch_nr7': 1.7815457413249212, 'tch_m_p1': 240.23501577287067, 'tch_m_p2': 84.97003154574132, 'tch_m_p3': 10.141955835962145, 'tch_m_p4': 19.756309148264986, 'tch_m_p5': 27.352523659305994, 'tch_m_p6': 14.36198738170347, 'tch_m_p7': 12.320977917981072, 'tch_f_p1': 236.97870662460568, 'tch_f_p2': 53.58123028391167, 'tch_f_p3': 22.474763406940063, 'tch_f_p4': 16.71608832807571, 'tch_f_p5': 31.33832807570978, 'tch_f_p6': 15.152208201892744, 'tch_f_p7': 15.520504731861198, 'tch_nr_p1': 0.021293375394321766, 'tch_nr_p2': 0.003943217665615142, 'tch_nr_p3': 0.002365930599369085, 'tch_nr_p4': 0.012618296529968454, 'tch_nr_p5': 0.0031545741324921135, 'tch_nr_p6': 0.0, 'tch_nr_p7': 0.002365930599369085, 'tch_sc_m1': 346.57807570977917, 'tch_sc_m2': 200.11041009463722, 'tch_sc_m3': 35.35804416403786, 'tch_sc_m4': 79.57097791798107, 'tch_sc_m5': 115.56466876971609, 'tch_sc_m6': 32.723186119873816, 'tch_sc_m7': 58.33280757097792, 'tch_sc_f1': 238.82334384858044, 'tch_sc_f2': 144.64589905362777, 'tch_sc_f3': 43.26419558359621, 'tch_sc_f4': 33.170347003154575, 'tch_sc_f5': 66.20977917981072, 'tch_sc_f6': 23.255520504731862, 'tch_sc_f7': 30.94242902208202, 'tch_st_m1': 278.9668769716088, 'tch_st_m2': 148.83832807570977, 'tch_st_m3': 15.999211356466876, 'tch_st_m4': 67.25394321766562, 'tch_st_m5': 32.43454258675079, 'tch_st_m6': 30.792586750788644, 'tch_st_m7': 32.103312302839115, 'tch_st_f1': 162.3493690851735, 'tch_st_f2': 101.93769716088327, 'tch_st_f3': 16.96608832807571, 'tch_st_f4': 34.80757097791798, 'tch_st_f5': 16.980283911671926, 'tch_st_f6': 22.638801261829652, 'tch_st_f7': 15.523659305993691, 'trn_tch_m1': 688.9053627760252, 'trn_tch_m2': 474.91324921135646, 'trn_tch_m3': 16.925867507886434, 'trn_tch_m4': 119.24132492113564, 'trn_tch_m5': 102.11435331230284, 'trn_tch_m6': 20.54652996845426, 'trn_tch_m7': 71.52760252365931, 'trn_tch_f1': 570.1892744479495, 'trn_tch_f2': 436.7712933753943, 'trn_tch_f3': 32.23580441640379, 'trn_tch_f4': 63.8391167192429, 'trn_tch_f5': 85.38091482649843, 'trn_tch_f6': 18.529968454258675, 'trn_tch_f7': 41.01656151419559, 'prof_trn_tch_r': 8558.58359621451, 'prof_trn_tch_p': 435.8627760252366, 'days_nontch': 17.541009463722396, 'tch_nontch': 464.9077287066246}

## Exercise 4 - (3 Marks)

1. Remove the unneccesary columns which are not contributing to the overall literacy rate

2. Verify if there are any duplicate columns and remove them.

  For example: state name and district name are same as state code and district code.

3. Make sure that the final dataframe has no null or nan values. Delete the rows with missing values.

   Hint: Give df.isna() to verify on the nan values in the dataframe.

In [ ]:
# YOUR CODE HERE for cleaning the dataframe
result.isna().sum()

State Code        0
statename         0
District Code     0
distname          0
blocks            0
                 ..
trn_tch_f7        0
prof_trn_tch_r    0
prof_trn_tch_p    0
days_nontch       0
tch_nontch        0
Length: 194, dtype: int64

In [ ]:
result.drop(['statename', 'distname'], axis=1, inplace=True)

In [ ]:
result.shape

(1268, 192)

## Exercise 5 - Apply Correlation Matrix (2 Marks)

Correlation is a statistical technique that can show whether and how strongly pairs of variables are related. More number of features does not imply better accuracy. More features may lead to a decline in the accuracy and create noise in the model, if they contain any irrelevant features.

*Features with high correlation value will imply the same meaning. Hence removing the highly correlated features*

**Function Description:**

`remove_Highly_Correlated()` function removes highly correlated features in the dataframe.
- Creates a correlation matrix of row and column wise features
- Extracts only uppertriangular matrix as correlation matrix, which will have the same values below and above the diagonal
- Removes columns which are having correlation value more than the threshold value.

In [ ]:
def remove_Highly_Correlated(df, bar=0.9):
  # Creates correlation matrix
  corr = df.corr()

  # Set Up Mask To Hide Upper Triangle
  mask = np.triu(np.ones_like(corr, dtype=bool))
  tri_df = corr.mask(mask)

  # Finding features with correlation value more than specified threshold value (bar=0.9)
  highly_cor_col = [col for col in tri_df.columns if any(tri_df[col] > bar )]
  print("length of highly correlated columns",len(highly_cor_col))

  # Drop the highly correlated columns
  reduced_df = result.drop(highly_cor_col, axis = 1)
  print("shape of total data",result.shape,"shape of reduced data",reduced_df.shape)
  return reduced_df

In [ ]:
# YOUR CODE HERE to remove highly correlated features from the dataframe by calling above function.
df = remove_Highly_Correlated(result)

length of highly correlated columns 26
shape of total data (1268, 192) shape of reduced data (1268, 166)

## Exercise 6 - (3 Marks)

Perform Mean Correction and Standard Scaling on the data feature/column wise.

**Hint:** In order to understand the idea behind the terms used above, you may refer the following link: 

[StandardScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html)

In [ ]:
features = df.iloc[:, df.columns != 'overall_lit']

In [ ]:
# YOUR CODE HERE
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features.values) #lost index and columns name
scaled_features_df = pd.DataFrame(scaled_features, index=features.index, columns=features.columns)

## Exercise 7 - (3 Marks)

Apply different classifiers on the preprocessed data and figure out which classifier gives the best result.

* Split the data into train and test

* Fit the model with train data and find the accuracy of test data

### Expected Accuracy is above 90%

In [ ]:
df.columns[12]

'overall_lit'

In [ ]:
# YOUR CODE HERE for applying different classifiers
#labels = df.iloc[:,16].values
#df1 = scaled_features_df.iloc[:, scaled_features_df.columns != 'overall_lit']

features = scaled_features_df.values # considering first 15 columns as X
labels = df.iloc[:,12].values # considering 16 column (class) as y

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(features,labels,test_size=0.2,random_state=42)

In [ ]:
X_train.shape, X_test.shape, y_test.shape, y_train.shape

((1014, 165), (254, 165), (254,), (1014,))

In [ ]:
#Decision Tree

from sklearn import tree
from sklearn.metrics import accuracy_score
clf = tree.DecisionTreeClassifier(criterion='entropy',random_state=42)

# Fitting the data

clf = clf.fit(X_train,y_train)

# Calculating the labels for test data
pred = clf.predict(X_test)
accuracy_score(y_test, pred)

0.937007874015748

In [ ]:


from sklearn.neighbors import KNeighborsClassifier

k = 7
X_train,X_test,y_train,y_test = train_test_split(features,labels,test_size=0.2,  random_state = 42)
neigh = KNeighborsClassifier(n_neighbors=k)
neigh.fit(X_train,y_train)
prediction = neigh.predict(X_test)
#neigh.score(X_test,y_test)
accuracy_score(y_test,prediction)

0.7204724409448819

In [ ]:
#Random Forest

from sklearn.ensemble import RandomForestClassifier
clf1 = RandomForestClassifier(criterion='entropy', random_state=42)

# YOUR CODE HERE
clf1.fit(X_train, y_train)
y_pred = clf1.predict(X_test)
accuracy_score(y_test, y_pred)

0.9291338582677166

In [ ]:
#Bagging
from sklearn.ensemble import BaggingClassifier
from sklearn import metrics

Bag = BaggingClassifier(random_state=42)

# YOUR CODE HERE to fit and predict

Bag.fit(X_train, y_train)
y_pred1 = Bag.predict(X_test)
accuracy_score(y_pred1, y_test)

0.9291338582677166